#add_btn {
  margin-bottom: 5px;
  float: right;
}

fa {
  float: right;
  cursor: pointer;
  margin: 2px;
}

.modal {
  background: rgba(0,0,0,0.5);
}

.green {
  background: green;
}

.red {
  background: red;
}
