#client-search-d1{
    width:225px;
    height:655px;
    background-color:white;
    float:left;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 20px;
}

#client-search-d2{
    padding-top:10px;
    padding-bottom:0px;
    padding-left:20px;
}

#client-search-hr{
    padding-top: 0px;
    margin-top: 10px;
    padding-bottom:0px;
    margin-bottom: 0px;
}

#client-search-label1{
    padding-top:15px;
}

#client-search-label2{
    padding-top:5px;
}