#client-list-d1 {
    width:1030px;
    height:655px;
    background-color:white;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -5px;
}

#client-list-row {
    padding-top:10px;
    padding-bottom:0px;
    padding-left:20px;
}

#client-list-header{
    padding-top:10px;
    padding-right:800px;
}

#client-list-hr{
    padding-top: 0px;
    margin-top: 10px;
    padding-bottom:0px;
    margin-bottom: 0px;
}